<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new message from <%= @from_user.bahalf_of.name %></h1>
    <p>
      <b><%= @message.subject %></b>
    </p>
      <br>
    <p>
      <%= @message.body %>
    </p>
    <p>Visit and login to PETconnect to reply.</p>
  </body>
</html>