<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a requested pet connection, <%= @user.name %></h1>
    <p>
      Organization has requested a pet connection with you at XXXXX time on XXXX day.<br>
    </p>
    <p>
      To accept or reject this request, login to the siteand view your profile page.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>