<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a potential pet connection!</h1>
    <p>
      <%= @organization.name %> has requested a pet connect with you and your pet
    </p>
      <br>
    <p>
      To accept or reject this request, login to the site and view event to accept or reject.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>