<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a scheduled pet connection.</h1>
    <br>
    <p>
      Pet connect scheduled between <%= @pet_owner %> and <%= @org_user %>. Login to site to view events.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>