<div class="center-content">
  <div class="reg-buttons">
    <p>
      Register as a...
    </p>
    <button id="owner-button" class="waves-effect waves-light btn">Pet Owner</button>
    <p>
      or an
    </p>
    <button id="organization-button" class="waves-effect waves-light btn" onclick="location.href='http://localhost:3000/organizations/new';">Organization</button>
  </div>
<button id="owner-button">Register As a Pet Owner</button>
<button id="organization-button" onclick="location.href='/organizations/new';">Register As an Organization</button>

  <%= render "form" %>
    <% if @errors %>
      <div class="errors">
        <% @steg = Cow.new({ :cow => 'turtle' }) %>
        <%= render "errors" %>
    <% end %>
  </div>
</div>
