<button id="owner-button">Register As a Pet Owner</button>
<button id="organization-button" onclick="location.href='http://localhost:3000/organizations/new';">Register As an Organization</button>

<%= render "form" %>
  <% if @errors %>
    <div class="errors">
    <% @errors.each do |error| %>
    <p><%= error %></p>
    <% end %>
  <% end %>
</div>
