<div class="splash">
  <p class="feature-text">
    Connecting hospitals and pets to promote health and healing
  </p>
</div>
<div class="row section hp-block-yellow">
  <div class="col s10 push-s1 m12 copy">
    <h3>What is PETconnect?</h3>
    <p>Therapy dogs are dogs who go with their owners to volunteer in settings such as schools, hospitals, and nursing homes. From working with a child who is learning to read to visiting a senior in assisted living, therapy dogs and their owners work together as a team to improve the lives of other people.</p>

    <p>Therapy dogs are not service dogs. Service dogs are dogs who are specially trained to perform specific tasks to help a person who has a disability. An example of a service dog is a dog who guides an owner who is blind, or a dog who assists someone who has a physical disability. Service dogs stay with their person and have special access privileges in public places such as on planes, restaurants, etc. Therapy dogs, the dogs who will be earning the AKC Therapy Dog™ title, do not have the same special access as service dogs.</p>
  </div>
</div>
  <%= render "/sessions/new" %>
