<div class="splash">
  <p class="feature-text">
    Connecting hospitals and pets to promote health and healing
  </p>
</div>
<div class="row section">
  <div class="col s10 push-s1 m12 copy">
    <p>Lorem ipsum dolor sit amet, qui an sanctus consulatu, dolore commune ea has, purto falli ea eum. Mel et nisl necessitatibus, tation quaestio sit ad. Vide cibo quo ei. Id aperiam delicata mei, illum epicuri ex nec. Mei brute ipsum consetetur ut.</p>

    <p>In magna nostrud vis. No nam eius nusquam cotidieque, vis probo ornatus luptatum te, vis nostro apeirian evertitur te. Vix nusquam hendrerit ei, mea ea quidam repudiandae. Id pri quas volutpat honestatis.</p>

    <p>No usu accusam dignissim. Quo illum zril ut, quidam qualisque ius id. Ex sumo posse vivendum sed, eam dicunt vivendum te. Discere nominavi usu et, veritus hendrerit reprimique vim an. Nam at appetere vulputate, quodsi petentium maluisset in eam.</p>

    <p>Id eos principes prodesset. Mnesarchum repudiandae ea qui, his tale putant an. Sea euripidis scripserit in, facilisi legendos qui te. Ea novum nobis vitae mea, eum legere noster ut. Id feugait gloriatur est. Saepe eripuit mediocrem in mea, dolore postea ex vim. Dicunt facilisis ne per.</p>

    <p>Choro aperiri intellegat qui ad, omnesque adolescens mel at. Discere perfecto postulant ne est. Ut ius doming omittam laboramus, et idque quidam instructior mea, eu vel offendit postulant. Saepe melius et vix. Mel meliore habemus adipisci ut.</p>
  </div>
</div>
  <%= render "/sessions/new" %>
