h1, h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 2rem;
}
input {
  font-size: 1.5rem;
}

.container {
  height: 100%;
  width: 100%;
  margin-bottom: 75px;
  color: #3B8183;
}
.header {
  position: relative;
  color: white;
  background: -moz-linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(60,162,162,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#3CA2A2',GradientType=1 ); /* ie6-9 */
}
.header a {
  color: white;
}
.inline-block {
  display: inline-block;
}
.clear:after {
  content: " ";
  display: table;
  clear: both;
}
.action-buttons {
  width: 100%;
  margin-bottom: 3px;
  line-height: 28px;
  height: inherit;
  padding: 10px;
  background-color: #F5634A;
}
.action-buttons:hover {
  background-color: #f8816d;
}
.splash, .org-splash {
  min-width: 100%;
  height: auto;
  max-height: calc(70vh - 85px);
  min-height: 320px;
  background: url("therapydog2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.color-bar {
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.org-splash {
  min-width: 100%;
  height: auto;
  max-height: calc(70vh - 85px);
  min-height: 320px;
  background: url("hospital.jpg") no-repeat;
  background-size: cover;
}
.org-splash.row {
  margin: 0;
}
.organization-info {
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 10%;
  padding-left: 3%;
}
.feature-text {
  display: none;
  color: white;
  font-size: 1.2em;
  font-weight: 200;
  line-height: 1em;
  width: 25%;
  position: relative;
  left: 75%;
  padding-top: 7%;
  padding-right: 2%
}
.center-content {
  margin: 10% auto 0;
  text-align: center;
}
.vert-align-text {
  vertical-align: middle;
}
.mar-top-5 {
  margin-top: 5%;
}
.site-header {
  font-weight: 200;
  margin-left: 2%;
}
input[type="file"] {
  font-size: 1rem;
}
.collection-item td {
  padding: 10px 20px;
}
.chip {
  margin-top: 3px;
}
.text-area-ht {
  height: 300px;
}
.waves-button-input {
  outline: none;
}


// Override Materialize

form select {
  display: inline-block;
}
form label {
  font-size: 1em;
}
.side-nav {
  background: -moz-linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(60,162,162,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#3CA2A2',GradientType=1 ); /* ie6-9 */
}
.copy {
  line-height: 1.8rem;
}
.collapsible-header {
  padding: 15px;
}
.collabsible-body p {
  padding: 5px inherit;
}
.button-collapse {
  margin-right: 2%;
}
.side-nav {
  width: 150px;
}
.pet-header {
  font-size: 2rem;
  color: #3B8183;
}
p.pet-detail {
  padding: .5rem 1rem;
}
.rating {
  position: relative;
  height: 20px;
  margin-top: 8px;
}
.rating-paw {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: 3px;
}
.org-address {
  font-size: .6em;
}
.icon-img {
  height: 75px;
}
.review-no {
  font-size: 1.2rem;
  position: relative;
  bottom: 10px;
  left: 5px;
  color: #707070;
}
.pet-list .collapsible {
  margin-top: 0;
}
#event_start_time_4i, #event_end_time_4i,  {
  width: 90px;
}
#event_start_time_5i, #event_end_time_5i {
  width: 55px;
}
#event_date_1i {
  width: 75px;
}
#event_date_2i {
  width: 130px;
}
#event_date_3i {
  width: 55px;
}


@media only screen and (min-width: 960px) {
  .container {
    width: 70%;
  }
}
@media only screen and (min-width: 600px) {
  .splash, .org-splash {
    min-height: 500px;
  }
  .container {
    width: 90%;
  }
  .rating {
    height: 25px;
  }
  #event_start_time_4i, #event_end_time_4i,  {
    width: 110px;
  }
  #event_start_time_5i, #event_end_time_5i {
    width: 70px;
  }
  #event_date_1i {
    width: 95px;
  }
  #event_date_2i {
    width: 160px;
  }
  #event_date_3i {
    width: 65px;
  }
}
@media only screen and (min-width: 480px) {
  .feature-text {
    display: block;
  }
  .header {
    height: 70px;
  }
}
