.container {
}
.inline-block {
  display: inline-block;
}
.clear:after {
  content: " ";
  display: table;
  clear: both;
}
.collapsible-header {
  padding: 15px;
}
.collabsible-body p {
  padding: 5px inherit;
}
