.container {
  height: 100%;
  width: 100%;
  margin-bottom: 75px;
}
.header {
  color: white;
  background: -moz-linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(60,162,162,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#3CA2A2',GradientType=1 ); /* ie6-9 */
}
.header a {
  color: white;
}
.inline-block {
  display: inline-block;
}
.clear:after {
  content: " ";
  display: table;
  clear: both;
}

.splash {
  background: url("therapydog2.jpg") no-repeat;
  width: 100%;
  min-height: 100%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.feature-text {
  color: white;
  font-size: 1.2em;
  font-weight: 200;
  line-height: 1em;
  width: 25%;
  position: relative;
  left: 75%;
  padding-top: 7%;
  padding-right: 2%
}
.center-content {
  margin: 10% auto 0;
  text-align: center;
}
.vert-align-text {
  vertical-align: middle;
}
.mar-top-5 {
  margin-top: 5%;
}
.site-header {
  font-weight: 200;
  margin-left: 2%;
}


// Override Materialize

form select {
  display: inline-block;
}
form label {
  font-size: 1em;
}
.side-nav {
  background: -moz-linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(60,162,162,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(60,162,162,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#3CA2A2',GradientType=1 ); /* ie6-9 */
}
.collapsible-header {
  padding: 15px;
}
.collabsible-body p {
  padding: 5px inherit;
}
.button-collapse {
  margin-right: 2%;
}
.side-nav {
  width: 150px;
}
.rating-paw {
  width: 25px;
  margin-right: 3px;
}
.org-address {
  font-size: .6em;
}

// colorful bottom nav border
.colorful {
  height: 8px;
  line-height: 0;
}
.colorful img {
  display: block;
  max-width: 100%;
  height: 8px;
}

@media only screen and (min-width: 960px) {
  .container {
    width: 70%;

  }
}
