<ul class="collection">
  <% @organizations.each do |organization| %>
    <li class="collection-item clear">
      <h5><%= organization.name %></h5>
      <span class="org-address"><%= organization.full_address %></span>
      <span>
        <div class="valign-wrapper">
          <form name="create_pairing", action="/organizations/<%= organization.id %>/pairings" method="post">
            <input type='hidden' value="<%= organization.id %>" name="organization_id">
            <input type="submit" value="Add" class="waves-effect waves-light btn">
          </form>
      </div>
      </span>
    </li>
  <% end %>
</ul>
