<ul>
  <% @organizations.each do |organization| %>
    <li>
      <h5><%= organization.name %></h5>
      <span><%= organization.full_address %></span>
      <span>
        <form name="create_pairing", action="/organizations/<%= organization.id %>/pairings" method='post'>
          <input type='hidden' value="<%= organization.id %>" name="organization_id">
          <input type="submit" value="Submit">
        </form>
      </span>
    </li>
  <% end %>
</ul>

