<div class="row section">
  <div class="user details col s10 push-s1 m12">
    <h2 id="org-reg-header">Search for the Hospital You Represent</h2>
    <%= render 'form' %>
    <div id="search_results">

    </div>

    <%= render 'new_org_user' %>
  </div>
</div>
