<div class="row section">
  <div class="col s10 push-s1 m12">
    <h1>inbox</h1>
      <% if !!@pairings and @pairings.try(:length) > 0 %>
        <table class="striped">
          <thead>
            <tr>
              <th>conversation</th>
              <th>last message</th>
              <th>messages</th>
            </tr>
          </thead>

          <% if !!@pairings and @pairings.length > 0 %>
            <tbody>
              <% @pairings.each do |pairing| %>
                <% if !!pairing.messages && pairing.messages.length > 0 %>
                  <tr>
                    <td><%= link_to "#{pairing.pair(current_user).name}", pairing_messages_path(pairing) %></td>
                    <td><%= pairing.messages.last.created_at.strftime("%b %e, %l:%M %p") %></td>
                    <td><%= pairing.messages.count %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          <% end %>
        </table>
      <% else %>
        <p>Your inbox is empty</p>
      <% end %>
    </div>
  </div>
